{
  "extends": ["taro", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "(Taro)" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/react-in-jsx-scope": 0,
    "react/no-string-refs": 0,
    "react/jsx-equals-spacing": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/sort-comp": 0,
    "jsx-quotes": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-object-literal-type-assertion": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/prefer-interface": 0
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"]
}
